
header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  height: 60px;
  width: 100vw;
  background-color: black;
  z-index: 99999999999;
  -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
  -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

header > h1 {
  color: white;
  margin-left: 20px
}
header > h1 > b {
  color: turquoise;
  margin-right: 10px;
  margin-left: 5px
}

.left {
  display: flex;
  color: white;
  margin-left: 20px;
}

.left > h1 {
  margin-left: 7px;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6; */

}

.login {

  border-radius: 5px;
  background: #642B73;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 5px;
  width: 100px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  z-index: 202;
  margin-right: 20px;


}

.appWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 100;

}


.scoresQuizChatWrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  z-index: 202;
}





.brains {
  height: 100%;
  width: 100%;

}

.brains img{
position:absolute ;
display:block ;
z-index: 99;
}

.brains img:nth-child(1){
    left:-10%;
    bottom: 0%; 
    animation:fall 15s linear infinite ;
    animation-delay:-3s;

}
.brains img:nth-child(2){
    left:0%;
    bottom: 0%; 
    animation:fall 15s linear infinite ;
    animation-delay:-2s;

}
.brains img:nth-child(3){
    left:10%;
    bottom: -10%; 
    animation:fall 15s linear infinite ;
    animation-delay:3.5s;

}
.brains img:nth-child(4){
    left:20%;
    bottom: -20%; 
    animation:fall 15s linear infinite ;
    animation-delay:0s;

}

.brains img:nth-child(5){
    left:30%;
    bottom: -15%; 
    animation:fall 15s linear infinite ;
    animation-delay:1s;

}

.brains img:nth-child(6){
    left:40%;
    bottom: 0%; 
    animation:fall 15s linear infinite ;
    animation-delay:-.4s;

}

.brains img:nth-child(7){
    left:50%;
    bottom: -30%; 
    animation:fall 15s linear infinite ;
    animation-delay:1.2s;
}


.brains img:nth-child(8){
    left:60%;
    bottom: -25%; 
    animation:fall 15s linear infinite ;
    animation-delay:-2.4s;
    transform: rotate(35deg);

}  

@keyframes fall{
    0%{
      transform: translateY(0) translateX(0) rotate(0deg);

    }
    100%{
        
         transform: translateY(-1200px) translateX(750px) rotate(720deg);

      }
    }