.chatWrapper {
  width: 300px;
  height: 70vh;
  background-color: white;
  border: 2px solid black;
  border-radius: 7px;
  margin-top: 100px;
  margin-right: 40px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  z-index: 202;
  position: relative;
}



.messageList{
    overflow-y: scroll;
    height: 83%;
    width: 100%;
    /* width: 300px; */
    background-color: white;
    font-weight: 700;
    border-bottom: none;
   
    
}

.messageLi {
    list-style: none;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.username {
    color:#A86DFF;
}


.messageList::-webkit-scrollbar {
  display: none;
}

.messageList {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}