.quizWrapper{ 
 display: flex;
 flex-direction: column;
 width: 542px;
 position: relative;
 margin-top: 100px;


}

.buttonsWrapper {
  /* display: flex;
  justify-content: space-between; */
  width: 100%;
  margin-top: 40px;
  position: relative;
}

.prevButton {
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-radius: 5px;
  background: #800080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
padding: 5px;
width: 100px;
border: none;
cursor: pointer;
font-weight: bold;





}

.nextButton {
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 5px;
background: #642B73;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



color: white;
padding: 5px;
width: 100px;
border: none;
cursor: pointer;
font-weight: bold;


}